{{define "content"}}

	<h1>hello , {{.CurrentUser}}</h1>

        <form method="post" action="/">
            <p><textarea name="body" rows="3" cols="80" value="" placeholder="say something..."></textarea></p>
            <p><input type="submit" name="submit" value="Post"/> </p>
            {{if .Flash}}
                <p style="color:red;">{{.Flash}}</p>
                {{end}}
        </form>


{{range .Posts}}
    <table>
        <tr>
            <td>
                <img src="{{.User.Avatar}}"/>
            </td>
            <td>
                <p><a href="/user/{{.User.Username}}">{{ .User.Username }}</a> says: <b>{{ .Body }}</b></p>
            </td>
        </tr>
    </table>
{{end}}

        {{if gt .PrevPage 0}}
<a href="/?page={{.PrevPage}}">Newer Posts</a>
        {{end}}
        {{if gt .NextPage 0}}
        <a href="/?page={{.NextPage}}">Older Posts</a>
        {{end}}
{{end}}