{{define "content"}}

<h1>Login</h1>
        <form action="/login" method="post" name="login">
<p><input name="username" type="text" placeholder="username"/> </p>
            <p><input name="password" type="password" placeholder="password"/> </p>
            <p><input name="submit" type="submit" value="Login"/> </p>

        </form>

    <p>New User? <a href="/register">Click to Register</a> </p>
        <p>Forget Password? <a href="/reset_password_request">Click to Reset Password</a></p>

        {{if .Errs}}
            <ul>
                {{range .Errs}}
                <li>{{.}}</li>
                        {{end}}
            </ul>
        {{end}}


{{end}}